#main {
    background-color: #FFFFFF;
}

body {
  background-color: #ffffff;
  font: 85% "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  background-image:url('header_texture.jpg');
  background-repeat:repeat-x;
} 

#outerContainer{
clear: both;
width:90%;
margin: 0 auto;
}

.scoreContainer{
clear: both;
width:90%;
margin-top: 20px;
padding: 6px 8px;
text-align: left;
width: 90%;
display: block;
float:left;
}

.indexContainer{
clear: both;
width:90%;
margin-top: 20px;
padding: 6px 40px;
text-align: left;
display: block;
text-align:left;
}

.extraInfoContainer{
clear: both;
width:90%;
margin-top: 0px;
margin-left: 25px;
padding: 6px 50px;
text-align: left;
display: block;
text-align:left;
}

p {
	font-family: "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
    font-size: 1.20em;
    line-height: 150%;
	margin: 0px 0px 0px 0px;
}

#ideaText{
display: block;
}

.hentry {
    margin-bottom: 15px;
}

#st_nav {
    border-bottom: 1px solid #F4F0E9;
    font-size: 14px;
    font-weight: bold;
    height: 42px;
    margin: 0;
    position: relative;
    width: 960px;
    z-index: 5000;
}

.headerText {
    color: #953D0F;
    font-size: 2.5em;
    letter-spacing: -1px;
    line-height: 1;
	padding-top: 20px;
    margin-bottom: 0.05em;
}


h1, h2, h3, h4, h5, h6 {
    font-family: "Myriad Pro",Helvetica Neue,Helvetica,Arial,Geneva,sans-serif;
    font-style: normal;
    font-weight: normal;
    
}

h1 {
    color: #453625;
    font-size: 4.00em;
    letter-spacing: -2px;
    line-height: 1;
    margin-bottom: 0.25em;
	text-align: left;
}

.h2Static {
    color: #A9A8A1;
    font-size: 2.0em;
    letter-spacing: -1px;
    margin-bottom: 1.25em;    
	text-align:left;
}

.h3Static {
    color: #2E2318;
    font-size: 2.0em;
    line-height: 1;
	margin-top: 1.25em;
	margin-bottom: 1.25em;  
	text-align: left;
}

.h4Static {
     color: #FFFFFF;
    font-size: 1.5em;
    line-height: 1;
	margin-top: 1.25em;
	margin-bottom: 1.25em;  
	text-align: left;
}

h2 {
    color: #635144;
    font-size: 2.0em;
    letter-spacing: -1px;
	text-align: left;
    margin-bottom: 1.75em;
}
h3 {
    color: #953D0F;
    font-size: 1.6em;
    line-height: 1;
	text-align: left;
	font-weight: bold;
}
h4 {
    color: #1E2226;
    font-size: 1.4em;
    line-height: 1;
    margin-bottom: 0.25em;
	text-align: left;
}
h5 {
    color: #453625;
    font-size: 1.4em;
    font-style: normal;
    font-weight: normal;
    margin-bottom: 0.5em;
	text-align: left;
}
h6 {
    font-size: 1.2em;
    margin-bottom: 0.5em;
	text-align: left;
}

ul{ font: 85% "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
color:#656561;
}

li{
    font-size: 1.85em;
    line-height: 28px;
}
.extraInfoText{
color:#A5A28F;
font-size: 1.3em;
}

.mainbody {
    margin-bottom: 15px;
    margin-top: 15px;
}

#content.r {
    padding: 0 15px 0 5px;
}

.buttonContainer{
	
}

.score {
	background-color: #427FC0;
    border-radius: 8px 8px 8px 8px;
    font-size: 1.7em;
    font-weight: bold;
    color: #FFFFFF;
    height: 35px;
    padding: 5px 1px 25px;
    text-align: center;
    width: 25%;	
}

a.buttonGreen {
    background-color: #85B245;
    border-radius: 8px 8px 8px 8px;
    display: block;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    height: 48px;
    margin: 5px 1%;
    padding: 50px 16px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

a.buttonOrange {
    background-color: #C98736;
    border-radius: 8px 8px 8px 8px;
    display: block;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    height: 48px;
    margin: 5px 1%;
    padding: 50px 16px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

a.buttonRed {
    background-color: #B94A48;
    border-radius: 8px 8px 8px 8px;
    display: block;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    height: 48px;
    margin: 5px 1%;
    padding: 50px 16px;
    text-align: center;
    text-decoration: none;
    width: 25%;
}

a.button {
    background-color: #F5F6CE;
    border-radius: 8px 8px 8px 8px;
    display: block;
    float: left;
    font-size: 1.7em;
    font-weight: bold;
    height: 50px;
    margin: 5px 1%;
    padding: 50px 16px;
    text-align: center;
    text-decoration: none;
    width: 27%;
}



#footer {
    background: url("footerbg.png") repeat-x #2E2318;
    margin-top: 25px;
    max-height: 100%;
}

#footer h1, #footer h2 {
    color: #FFFFFF;
    font-size: 2.0em;
	text-align: center;
}

#footer h3 {
    color: #FFFFFF;
    font-size: 1.5em;
    font-size: 1.5em;
	text-align: left;
}

#footer a {
    color: #B84C13;
    text-decoration: none;
}
#footer .container_24 {
    padding-top: 14px;
}
.container_24 {
	margin: 0 auto;
	text-align: left;
	height: 150px;
}

.footerBoxContainer{
margin: 0 auto;
width: 1180px;
}


.extraInfoBox, .disclaimerBox{
	width: 550px;
    display: inline;
	margin: 0 20px;
	position: relative;
}

.extraInfoBox{
float: left;
}

.disclaimerBox{

}

div.small {
    border-bottom: 1px solid #EEEAE0;
    color: #888888;
    font-size: 11px;
    margin-bottom: 8px;
    padding-bottom: 6px;
}


.copyright {
	padding-top: 25px;
	padding-bottom: 10px;
    font-size: 12px;
	color:#A5A28F;
    text-align: center;
}

.badge {
    color: #000000;
    font-size: 1.5em;
    font-weight: bold;
    line-height: 14px;
}

.badge-success {
    background-color: #FFFFFF;
}

.modal-header-agree {
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	background-color: #85B245;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

.modal-header-disagree {
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	background-color: #B94A48;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

.modal-header-change {
	color: #FFFFFF;
	font-size: 25px;
	font-weight: bold;
	background-color: #C98736;
	padding-top:5px;
	padding-bottom:5px;
	text-align: center;
}

.modal-body {
	color: #000000;
	font-size: 25px;
	font-weight: bold;
	text-align: center;
}