

img.floatLeft { 
    float: left; 

}

img.floatRight { 
    float: right; 
	
}

body {
 background-color: #ffffff;
  font: 85% "Helvetica Neue",Arial,Helvetica,Geneva,sans-serif;
  background-image:url('header_texture.jpg');
  background-repeat:repeat-x;
} 
.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
  margin: 0 auto;
  width: 100%;
}



p {
  font-family: Georgia, "Times New Roman", Times, serif;
}

h3 {
  text-align: center;
}

input,
button,
select,
textarea {
  font-family: Georgia, "Times New Roman", Times, serif;
}



.dropup .caret,
.navbar-fixed-bottom .dropdown .caret {

	border-bottom: 4px solid #ffffff;

}


.navbar {
  margin-bottom: 18px;
}


.navbar-inner {
	min-height: 40px;
	padding-right: 20px;
	padding-left: 20px;
	background-color: #FFFFFF;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#333333', endColorstr='#222222', GradientType=0);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);         
}

.navbar .container {
  width: auto;
}

.nav-collapse.collapse {
  height: auto;
}

.navbar {
  color: #000000;
}


.headerSection{
width: 100%;
margin: 0 auto;	
}

.headerdivider{
clear:both;	
padding:5px 0;	
border-bottom: solid 1px black;

}

.brandTitle  {
	font-size: 60px;
	font-weight: 100;
	line-height: 1;
	color: #000000;
	text-align: left;	
}

.brand {

margin: 0 auto;

}

.navbar .navbar-text {
  margin-bottom: 0;
  line-height: 40px;
}


.navbar-fixed-top {
 
}

.hero-unit {
  padding: 10px;
  margin-bottom: 10px;
}