@(ideaTitle: String, ideaText: String, ideaCreator: String, ideaVotes: Integer, eiTitle: String, eiContent: String)

@main(title = "Agora 2.0") {
	<div id = "ideaContainer" class="container-fluid">
		<div class="row-fluid">
  			<div class="span8">
  				<!-- put container here!! -->
  					<div id="ideaScore" class="score">Feedback Score<br>@ideaVotes</div><br>
					<div class="h2Static">Current displayed question: </div>
					<div id="ideaTitle"><h1>@ideaTitle</h1></div> 
					
					<div id="ideaText"><h2>@ideaText</h2></div>
					<!--<div class="span10"><p align="right"><span class="label label-inverse">Proposed by @ideaCreator</span></p></div>-->
					
                    <div class="h2Static"><u>Contribute</u> to the debate of this idea!<br>
						It's easy: <u>Click on one of the buttons on the mouse to express your agreement or disagreement!</u>
					</div>
					
					<div class="buttonContainer">
						<a class="buttonGreen" href="#"><span style='color:#F5F6CE;'>GREEN button<br>I AGREE</span></a>
						<a class="buttonRed" href="#"><span style='color:#F5F6CE;'>RED button<br>I DON'T AGREE</span></a>
						<a class="buttonOrange" href="#"><span style='color:#F5F6CE;'>ORANGE wheel<br>CHANGE IDEA</span></a>
					</div>
				<!-- end container here!! -->
  			</div>
  			<div class="span4">
				<div class="h3Static">DISCLAIMER</div>
				<div id="index" class="indexContainer"> 
					<ul>
						<li>Agora2.0 is a voting platform for ideas on common interests of the academic community. Ideas can be posted, and voted on, online at agoraunitn.ideascale.it, or voted on using this public screen.</li> 
						<img src="@routes.Assets.at("images/agoratrento.jpeg")" widht="250" height="250" alt="" />
					</ul>
				</div>
  			</div>
  		</div>
	</div>
}