<!DOCTYPE HTML>

<html>
	<head>
		<title>Agora 2.0</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--5grid--><!--[if lt IE 9]><script src="css/5grid/ie.js"></script><![endif]-->
		<script src="@routes.Assets.at("stylesheets/css/5grid/viewport.js")" type="text/javascript"></script>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/5grid/core.css")">
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/css/style.css")">
		
		<!--[if IE 9]><link rel="stylesheet" href="css/style-ie9.css" /><![endif]-->
	</head>
	<body>
	<!-- ********************************************************* -->
		<div id="header-wrapper">
			<div class="5grid">
				<div class="12u-first">
					
					<header id="header">
						<h1>Agora2.0 - Presentazione Progetto</h1>
						<nav>
							<img src="@routes.Assets.at("stylesheets/css/images/unitn.jpg")" alt="" width="300" height="85" />
							<!-- <a href="index.html">Homepage</a> -->
							
							<!-- <a href="onecolumn.html">Maggiori Informazioni</a> -->
						</nav>
					</header>
				
				</div>
			</div>
		</div>
		<div id="main">
			<div class="5grid">
				<div class="main-row">
					<div class="3u-first">
						
						<section>
						
						<h2>In collaborazione con:</h2>
						<a href="http://www.comune.trento.it/Comunicazione/Dialoga-con-noi/Contattaci/URP2"><img src="@routes.Assets.at("stylesheets/css/images/URP_medium.jpg")" alt="" class="left" /></a>
						
						</section>

						<section>
							<h2>IMPORTANTE</h2>
							<p>Esonero di responsabilità: La piattaforma Agora2.0 è in versione sperimentale e ha il solo scopo di supportare la ricerca per la quale é stata sviluppata. La generazione e votazione di idee ha unicamente valore di raccolta dati per l'esperimento in questione.</p>
						</section>
					
					</div>

					
					<div class="6u">
						
						<section class="middle-content">
							<h2>Spiegazione</h2>
							<p>Agora2.0 é una piattaforma civica per la discussione democratica di idee di interesse pubblico relative alla vita nel Comune di Trento. Le idee, sottoposte in forma di domanda, possono essere presentate sia dall'Amministrazione Pubblica della città di Trento che da qualunque cittadino voglia partecipare attivamente alla discussione pubblica. Una volta approvate, le idee vengono pubblicate sia online su <a href="http://agoratrento.ideascale.com">questa pagina web</a> che su un grande schermo pubblico interattivo sito nei pressi dell'Ufficio per le Relazioni con il Pubblico (URP) del Comune di Trento in via R. Belenzani, 3 - ingresso anche da via G. Manci. La cittadinza é quindi invitata a partecipare alla discussione delle idee, esprimendo il proprio voto (favorevole/contrario), aggiungendo un commento o creando una nuova idea. Tutto questo in modo semplice ed intituivo sia online che presso lo Sportello dell'URP.</p>
							<p>Agora2.0 è un esperimento condotto da un team di 5 Dottorandi dell'Università di Trento - Fondazione Bruno Kessler (FBK). Agora2.0 é una piattaforma di participazione civica profondamente innovativa: é un servizio per la votazione di idee e opinioni, <u>espresse sotto forma di domande</u>, cui la cittadinanza è invitata a rispondere manifestando il proprio consenso o dissenso, sia attraverso uno strumento Web che tramite uno schermo pubblico situato in uno dei principali luoghi di incontro tra cittadini e Amministrazione: la sede dell'<a href="https://maps.google.com/maps?q=46.069725,11.121488&num=1&t=m&z=17">URP di Trento</a>.</p> 
							<p>L’obbiettivo principale di Agora2.0 è quindi quello di fornire a tutti i diversi strati della popolazione residente nel Comune di Trento, a dispetto delle capacità informatiche di ognuno, la possibilità di esprimere in maniera semplice ed intuitiva le proprie opinioni, così come di votare quelle espresse dai propri concittadini o dagli stessi amministratori pubblici. E’ forse bene sottolineare che Agora2.0 non si propone in alcun modo di sostituire il processo decisionale democratico in vigore né tantomeno di influenzarne l’andamento. Lo scopo del progetto è piuttosto quello di indagare se esista la possibilità di fornire un supporto alla necessità dell’Amministrazione Comunale di conoscere la sensibilità dei cittadini di fronte al proprio operato, e al contempo stimolare il coinvolgimento della popolazione con uno strumento semplice e interattivo per conoscere ciò che pensa il prossimo, che non lasci nessuno escluso e che possa incoraggiare un sano dialogo democratico.</p>
							<p><b>Cosa aspetti? Non ti resta altro che partecipare! Visita la pagina <b><a href="http://agoratrento.ideascale.com">Agora2.0</a></b> sulla piattaforma Web IdeaScale o recati direttamente all'ufficio <a href="http://www.comune.trento.it/Comunicazione/Dialoga-con-noi/Contattaci/URP2">URP</a>. Lì troverai uno di noi pronto ad aiutarti e a spiegarti meglio come funzione Agora2.0.</b></p>
							<br>
							<p>Buon Divertimento!</p>
							<br>
							<p>Il Team di Agora2.0</p>
									
						</section>
					
					</div>
					<div class="3u">

						<section>
							<h2>Il Team</h2>
							<ul class="small-image-list">
								<li>
									<a href="#"><img src="@routes.Assets.at("stylesheets/css/images/milano.jpg")" alt="" class="left" /></a>
									<h4>Marco Milano</h4>
									<p>Dottorando in Scienze Cognitive presso <a href="http://www.unitn.it/en/drcimec">CIMeC</a> - <a href="http://www.fbk.eu/it">FBK</a></p>
								</li>
								<li>
									<a href="#"><img  src="@routes.Assets.at("stylesheets/css/images/schiavo.jpg")" alt="" class="left" /></a>
									<h4>Gianluca Schiavo</h4>
									<p>Dottorando in Scienze Cognitive presso <a href="http://www.unitn.it/en/drcimec">CIMeC</a> - <a href="http://www.fbk.eu/it">FBK</a></p>
									</li>
									<li>
									<a href="#"><img  src="@routes.Assets.at("stylesheets/css/images/nasir.jpg")" alt="" class="left" /></a>
									<h4>Tooba Nasir</h4>
									<p>Dottoranda in Ingegneria Informatica e delle Telecomunicazioni presso <a href="http://disi.unitn.it/">DISI</</a> - <a href="http://www.fbk.eu/it">FBK</a></p>
								</li>
								<li>
									<a href="#"><img  src="@routes.Assets.at("stylesheets/css/images/saldivar.jpg")" alt="" class="left" /></a>
									<h4>Jorge Saldivar</h4>
									<p>Dottorando in Ingegneria Informatica e delle Telecomunicazioni presso <a href="http://disi.unitn.it/">DISI</a></p>
								</li>
									<li>
									<a href="#"><img  src="@routes.Assets.at("stylesheets/css/images/vergne.jpg")" alt="" class="left" /></a>
									<h4>Matthieu Vergne</h4>
									<p>Dottorando in Ingegneria del Software presso <a href="http://disi.unitn.it/">DISI</</a> - <a href="http://www.fbk.eu/it">FBK</a></p>
								</li>
								
							</ul>
						</section>
					
						<section>
							<h2>Collegamenti Utili</h2>
							<ul class="link-list">
								<li><a href="http://agoratrento.ideascale.com">Comunità IdeaScale</a></li>
								<li><a href="http://www.comune.trento.it/Comunicazione/Dialoga-con-noi/Contattaci/URP2">Ufficio URP Trento</a></li>
								<li><a href="http://www.unitn.it">Università di Trento</a></li>
								<li><a href="http://www.unitn.it/cimec">CIMeC</a></li>
								<li><a href="http://www.fbk.eu/it/research">FBK-IRST</a></li>
		
								
							</ul>
						</section>

					</div>
				</div>
			</div>
		</div>
		
	<!-- ********************************************************* -->
	</body>
</html>